POSTGRES_DB=trading_platform
POSTGRES_USER=trading
POSTGRES_PASSWORD=trading_dev
POSTGRES_PORT=5432

REDPANDA_VERSION=v26.1.5
REDPANDA_EXTERNAL_PORT=19092
REDPANDA_SCHEMA_REGISTRY_PORT=18081
REDPANDA_HTTP_PROXY_PORT=18082
REDPANDA_ADMIN_PORT=19644

REDPANDA_CONSOLE_VERSION=v3.7.1
REDPANDA_CONSOLE_PORT=8086
